{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/communities.css' %}">
{% endblock %}


{% block modals %}
 <!-- Modal -->
 <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title text-warning" id="subscribeLabel">Warning</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body text-fadded-1">
             You will be getting Notifications from <span class="modal-community-name text-capitalize text-info">TEST</span> Community on new Posts and Comments.
         </div>
         <div class="modal-footer">
             <a class="text-danger" data-dismiss="modal">Close</a>
             <button type="button" class="btn btn-danger" id="confirm-subscribe">Subscribe</button>
         </div>
     </div>
 </div>
</div>
{% endblock %}


{% block navbar %}

{% endblock %}


{% block content %}
<div id="communities">
    <div class="container">
        <h1 class="title text-center text-fadded">Join our awesome community groups</h1>
        <div class="row">
            
            {% for comm in communities %}
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="community-card" id="diabites-card">
                    <div class="community-name">
                        <h3 class="text-fadded-1">{{ comm.name }}</h3>
                    </div>
                    <div class="image-container">
                        <img src="{{ comm.pic.url }}" alt="not found">
                    </div>

                    <p class="community-description text-fadded-2">
                        {{ comm.description }}
                    </p>

                    <div class="btns-container">
                        <a class="my-btn btn btn-danger d-block" href="{% url 'community' comm.pk %}">Join</a>
                        <button class="my-btn subscribe-btn btn btn-outline-danger d-block" data-toggle="modal" data-target="#subscribe" data-community="diabites">Subscribe</button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}


{% block scripts %}
<script src="{% static 'js/communities.js' %}"></script>
{% endblock %}