{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}


{% block modals %}

{% endblock %}


{% block content %}
<div class="container profile-content" id="profile-content">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 bg-white box-shadow pt-5">
            <div class="profile-image ml-auto mr-auto">
                <img src="{{ request.user.profile.pic.url }}" alt="Image Not Found">
            </div>
            <div class="user-info mt-4">
                <h6 class="text-capitalize text-center m-0 text-fadded text-bold"
                    style="font-size: 1.5em; font-weight: bold">{{ request.user.get_full_name }}</h6>
                <a href="#" class="text-fadded-2 text-center d-block">edit profile</a>
                <h6 class="user-info-city">
                    {% if request.profile.address %}
                    <span class="text-danger">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    {{ request.user.profile.address }}
                    {% endif %}
                </h6>
                <h6 class="user-info-id">
                    <span class="text-success">
                        <i class="fas fa-id-card-alt"></i>
                    </span>
                    {{ request.user.profile.nid }}
                </h6>
                <h6 class="user-info-gender">
                    <span class="text-secondary">
                        <i class="fas fa-venus-mars"></i>
                    </span>
                    {% if request.user.profile.gender == 'M' %} Male {% else %} Female {% endif %}
                </h6>
            </div>

            <a href="{% url 'asked_questions' %}" class="d-block text-center bg-danger rounded p-2">View Questions</a>

            <div class="medical-info mb-5">
                <h3 class="title text-fadded">Medical Info</h3>
                <ul class="medical-info-items">
                    <li class="medical-info-item">Blood Type: O-</li>
                    <li class="medical-info-item">Weight: 60kg</li>
                    <li class="medical-info-item">Height: 165cm</li>
                    <li class="medical-info-item">Age: 23</li>
                </ul>
            </div>

        </div>

        <div class="col-lg-9 col-md-6 col-sm-12 pl-5 pt-5 ">
            <div class="prev-diagnoses">
                <h3 class="text-center text-upper mb-3">Asked Questions</h3>

                <div class="row no-gutters justify-content-center">
                    {% for question in questions %}
                    <div class="col-12">
                        <div class="card mb-2 d-block">
                            <div class="card-header">
                                <span class="text-fadded-2 text-md">Asked to</span>
                                <a href="{% url 'doctor-details' question.doctor.id %}" class="text-info">
                                    Dr. {{ question.doctor.user.get_full_name }}
                                </a>
                                <span class="text-fadded-2 text-md">
                                    <i class="far fa-clock"></i>
                                    {{ question.date }}
                                </span>

                                <h5 class="m-0 text-fadded">{{question.content}}</h5>
                            </div>
                            <div class="card-body">
                                {% if question.answer %}
                                {{ question.answer }}
                                {% else %}
                                Not Answered Yet
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}

{% endblock %}