{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedicalHub</title>

    
    <!-- Start Styles -->
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/all.min.css' %}">
    {% block styles %}
    {% endblock %}
    <!-- End Styles -->
</head>
<body>
    <!-- Start Modals -->
    {% block modals %}
    {% endblock %}
    <!-- End Modals -->


    <!-- Start Navbar -->
    {% include 'navbar.html' %}
    <!-- End Navbar -->


    <!-- Start Content -->
    {% block content %}
    {% endblock %}
    <!-- End Content -->


    <!-- Start Footer -->
    <footer>
        <h5>
            Made With
            <span class="heart-beating text-danger">
                <i class="fas fa-heart"></i>
            </span>
            under supervision of
            FCI-Minia
            University
        </h5>
    </footer>
    <!-- End Footer -->


    <!-- Start Scripts -->
    <script src="{% static 'lib/jquery/jquery-3.4.1.min.js' %}"></script>

    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'lib/font-awesome/js/all.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}
    <!-- End Scripts -->    
</body>
</html>