<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedicalHub</title>

    <!-- Start Styles -->
    {% block styles %}
    {% endblock %}
    <!-- End Styles -->
</head>
<body>
    <!-- Start Modals -->
    {% block modals %}
    {% endblock %}
    <!-- End Modals -->


    <!-- Start Navbar -->
    {% block navbar %}
    {% endblock %}
    <!-- End Navbar -->


    <!-- Start Content -->
    {% block content %}
    {% endblock %}
    <!-- End Content -->


    <!-- Start Footer -->
    
    <!-- End Footer -->


    <!-- Start Scripts -->
    {% block scripts %}
    {% endblock %}
    <!-- End Scripts -->    
</body>
</html>