{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <meta name="refresh" content="5;URL='home.html'">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
    
{% block content %}
    <div id="full-page">
        <div class="loader">
            <span class="inner d-inline-block"></span>
            <span class="inner d-inline-block"></span>
            <span class="inner d-inline-block"></span>
            <span class="inner d-inline-block"></span>
            <span class="inner d-inline-block"></span>
        </div>
        <h1>MedicalHub</h1>
    </div>
{% endblock %}
